toy_example/__pycache__
toy_example/checkpoints
toy_example/plots
toy_example/tensorboard
toy_active_mapping/__pycache__
toy_active_mapping/checkpoints
toy_active_mapping/plots
toy_active_mapping/tensorboard
toy_active_mapping_ppo/__pycache__
toy_active_mapping_ppo/checkpoints
toy_active_mapping_ppo/plots
toy_active_mapping_ppo/tensorboard
toy_active_mapping_ppo/Unity_envs
**.idea
**.venv
model_based_active_mapping/scripts/checkpoints
model_based_active_mapping/scripts/tensorboard
**.pyc
